.footer {
  border-top: 1px solid var(--separator-color);
  background-color: var(--footer-bg-color);
  padding: .4em .6em;

  position: sticky;
  bottom: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-header {
  margin: 0;
  font-size: 1em;
}

