.l-app {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.l-app-titlebar {
  flex: 0 0 var(--titlebar-h);
}

.l-app-main {
  flex: 1 1 auto;
}

.l-app-footer {
  flex: 0 0 var(--footer-h);
}
