.titlebar {
  background-color: var(--titlebar-bg-color);
  color: var(--titlebar-fg-color);
  padding: .8em .6em;

  position: sticky;
  top: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.titlebar-path {
  flex: 1 1 auto;
}

.titlebar-btn {
  flex: 0 0 var(--titlebar-btn-w);
  cursor: pointer;
}
